DB_HOST=localhost
DB_PORT=5432
DB_USER=finger_backend_user
DB_PASSWORD=1234
DB_NAME=finger_backend
JWT_SECRET=some_jwt_key
ACCESS_TTL=600
REFRESH_TTL=2592000

GMAIL_USER="some_google_email@gmail.com"
GMAIL_APP_PASSWORD="gmail password, see manual for details"
