DB_HOST=localhost
DB_PORT=5432
DB_USER=finger_backend_user
DB_PASSWORD=1234
DB_NAME=finger_backend
JWT_SECRET=some_jwt_key
ACCESS_TTL=600
REFRESH_TTL=2592000
CODES_PEPPER=some_pepper

GMAIL_USER="some_google_email@gmail.com"
GMAIL_APP_PASSWORD="gmail password, see manual for details"

EMAIL_ENABLED=true
EMAIL_FROM=some_google_email@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=0
MINIO_BUCKET=avatarts