APP_ENV=development
ENABLE_DOCS=true
APP_DOMAIN=prothesis.ru, 127.0.0.1, localhost, www.prothesis.ru
APP_DOMAIN=localhost
LETSENCRYPT_EMAIL=mail@example.com

APP_CLIENT_TOKEN_ENABLED=false
APP_CLIENT_HEADER_NAME=X-App-Token
APP_CLIENT_TOKEN=change_me_if_enabled

FORWARDED_ALLOW_IPS=127.0.0.1
UVICORN_WORKERS=1

DB_HOST=localhost
DB_PORT=5432
DB_USER=finger_backend_user
DB_PASSWORD=1234
DB_NAME=finger_backend

JWT_SECRET=some_jwt_key
ACCESS_TTL=600
REFRESH_TTL=2592000
CODES_PEPPER=some_pepper

GMAIL_USER="some_google_email@gmail.com"
GMAIL_APP_PASSWORD="gmail password, see manual for details"

EMAIL_ENABLED=true
EMAIL_FROM=some_google_email@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=0
MINIO_BUCKET=avatarts

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=change_this_to_a_long_random_password
REDIS_USERNAME=

SRP_SESSION_TTL_SEC=300